<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card" style="height: 100%">
                <div style="height:100%">
                    <img src="~/images/@item.Img" class="card-img-top" height="100%" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    Price: <span class="badge text-bg-warning">@item.Price</span>
                    <br /><br />
                    <a href="#" class="btn btn-primary">Show Details...</a>
                </div>
            </div>
        </div>
    }
</div>