<div class="row">
        <div class="col-4">
            <div class="card" style="height: 100%">
                <div style="height:100%">
                    <img src="#" class="card-img-top" height="100%" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    Price: Product Price
                    <br /><br />
                    <a href="#" class="btn btn-primary">Show Details...</a>
                </div>
            </div>
        </div>
</div>