@model Category

<div class="row mb-2">
    <h1><a href="/Category/Index"><i class="bi bi-arrow-left"></i></a> Create New Category</h1>
</div>

<div class="row">
    <form action="/Category/Create" method="post">
        <div>
            <input type="text" class="form-control" id="categoryName" name="name" placeholder="Category Name" value="@Model.Name">
        </div>
        <span class="text-danger mb-3" asp-validation-for="@Model.Name"></span>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>